.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.question,
.createquestion,
.option,
.createoption {
  text-align: left;
}

.questions,
.options,
.person {
  writing-mode: vertical-rl;
}

.person {
  font-weight: normal;
}
