.App {
  min-height: 100vh;
}

.App,
.editor {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.editor {
  padding: 2vh 1vw;
}

.question,
.createquestion,
.option,
.createoption {
  text-align: left;
}

.result {
  text-align: right;
}

.questions,
.options,
.results,
.person {
  writing-mode: vertical-rl;
}

.person {
  font-weight: normal;
}
